@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto+Condensed&display=swap');
body{
    font-family: "DM Sans Text", serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    background: #111;
    transition: all .2s ease;
}
.titleImgRow{
    margin-inline: auto;
    max-width: 95vw;
    display: block;
}
.titleImgColumn{
    margin-inline: auto;
    max-width: 90vw;
    display: none;
}
@media  screen and (max-width: 600px){
    .titleImgRow{
        display: none;
    }
    .titleImgColumn{
        display: block;
    }
}
a {
    color: #0297FF;
    width: 100vw;
}
.filling-form{
    margin-top: 20vh;
}
.filling-form *{
    display: flex;
    flex-direction: column;
    min-height: 25px;
    padding-bottom: 0.5rem;
    }
.container{
    margin-top: 25vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.generate-img{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.cardPreview{
    margin: 3rem;
    max-width: 50vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.cardPreview canvas{
    padding-block: 1rem;
}
.footer{
    display: flex;
    flex-direction: column;
    font-size: .5em;
}

.helper-link{
    display: block;
    color: #0297FF;
    /*background-color: #FFFFFF;*/
    font-weight: 1000;
    font-size: 1rem;
    max-width: 95vw;
    text-align: center;
    margin-inline: auto;
}
.footer p{
    text-align: center;
}
.footer img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}