@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto+Condensed&display=swap');
body{
    font-family: "Roboto Condensed", serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    background: #111;
    transition: all .2s ease;
}
.titleImgRow{
    margin-inline: auto;
    padding-top: 8vh;
    max-width: 85vw;
    display: block;
}
.titleImgColumn{
    margin-inline: auto;
    max-width: 90vw;
    display: none;
}
@media  screen and (max-width: 600px){
    .titleImgRow{
        display: none;
    }
    .titleImgColumn{
        display: block;
    }
}
a {
    color: #0297FF;
    font-weight: 1000;
    font-size: 1.25rem;
    max-width: 95vw;
    /*width: 100vw;*/
}
.prelink-paragraph{
    font-weight: 1000;
    font-size: 1.25rem;

}
/*
.helper-link{

    color: #0297FF;
    font-weight: 1000;
    font-size: 1rem;
    max-width: 95vw;
}*/
.filling-form{
    margin-top: 5vh;
}
.filling-form .item{
    display: flex;
    flex-direction: column;
    min-height: 25px;
    padding-bottom: 0.5rem;
    }
.container{
    margin-top: 25vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.generate-img{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.cardPreview{
    margin: 3rem;
    max-width: 50vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.cardPreview canvas{
    padding-block: 1rem;
}
.footer{
    text-align: center;
    font-size: .65em;
}
.credit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.credits-image{
    border: #FFF;
    border-width: 5px;
    border-style: solid;
    border-radius: 25%;
}

.footer img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}